@charset "UTF-8";


.videoTitle {
	width : 1000px;
	height:	35px;
	overflow : hidden;
}
.videoTitle a{
	color : black;
}

.videoTitle a:hover{
	color : black;
	text-decoration: none;
}

.row{
	line-height: 0.3;
}
.videoDescription{
	width : 1000px;
	height:	45px;
	overflow : hidden;
	color : gray;
	line-height: normal;
}

/* .watchHistoryVideoAccount{ */
/* 	color: black; */
/* } */

.uploaderLink{
	color: black;
}
.uploaderLink:hover{
	color: black;
	text-decoration:none
	
}

.pageLoadingImage {
	position: absolute; 
	margin: -50px;
	padding : -50px;
}
.pageLoadingNone{
	visibility: hidden;
}
.pageLoading{
	text-align: center;
}
