@charset "UTF-8";

.titleBlock > div{
/* 	margin: 0px; */
/* 	border: 1px solid red; */
	padding-left : -150px;
	padding-right : -150px;
	
/* 	width: 200px; */
}

.titleBlock > div > a{
	margin-top: 10px;
	margin-bottom: 10px;
/* 	margin-right: -100px; */
/* 	margin-left: 10px; */
/* 	border: 1px solid blue; */
	padding : 0px;
	width: 400px;
	border-radius:0px;
}

.IdentityDescription{
	height: 100px;
	overflow: hiddden;
}

.IdentityLink{
	color: black;
	font-size: 20px;
}

.IdentityLink:hover{
	color: black;
	font-size: 20px;
	text-decoration: none;
}