USE [EEITDB]
GO
/****** Object:  Table [dbo].[LiveStreamReport]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[LiveStreamReport]
GO
/****** Object:  Table [dbo].[LiveStreamHistory]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[LiveStreamHistory]
GO
/****** Object:  Table [dbo].[LiveStream]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[LiveStream]
GO
/****** Object:  Table [dbo].[LiveChat]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[LiveChat]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[Bid]
GO
/****** Object:  Table [dbo].[AuctionEnd]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[AuctionEnd]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 2018/5/17 下午 06:10:22 ******/
DROP TABLE [dbo].[Auction]
GO
/****** Object:  Table [dbo].[Auction]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Auction](
	[account] [varchar](50) NOT NULL,
	[auctionSeqNo] [int] IDENTITY(1,1) NOT NULL,
	[aucBegin] [datetime] NOT NULL,
	[aucEnd] [datetime] NOT NULL,
	[liveStreamSeqNo] [int] NOT NULL,
	[productSeqNo] [bigint] NOT NULL,
	[proPrice] [bigint] NOT NULL,
	[auctionStatus] [int] NOT NULL,
 CONSTRAINT [PK_Auction] PRIMARY KEY CLUSTERED 
(
	[auctionSeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuctionEnd]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuctionEnd](
	[auctionEndSeqNo] [int] IDENTITY(1,1) NOT NULL,
	[account] [varchar](50) NOT NULL,
	[proPrice] [varchar](max) NOT NULL,
	[proTime] [datetime] NOT NULL,
	[productSeqNo] [int] NOT NULL,
 CONSTRAINT [PK_AuctionEnd] PRIMARY KEY CLUSTERED 
(
	[auctionEndSeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bid]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bid](
	[auctionSeqNo] [int] NOT NULL,
	[bidSeqNo] [int] IDENTITY(1,1) NOT NULL,
	[bidTime] [datetime] NOT NULL,
	[bidPrice] [varchar](max) NOT NULL,
	[account] [varchar](50) NOT NULL,
	[productSeqNo] [bigint] NOT NULL,
 CONSTRAINT [PK_Bid] PRIMARY KEY CLUSTERED 
(
	[bidSeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveChat]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveChat](
	[liveChatSesNo] [int] IDENTITY(1,1) NOT NULL,
	[liveChatArticle] [varchar](max) NOT NULL,
	[account] [varchar](50) NOT NULL,
	[liveChatDate] [datetime] NOT NULL,
	[liveChatStatus] [varchar](50) NOT NULL,
	[liveChatType] [nchar](10) NOT NULL,
	[liveStreamSeqNo] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveStream]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveStream](
	[account] [varchar](50) NOT NULL,
	[liveStreamSeqNo] [int] IDENTITY(1,1) NOT NULL,
	[liveStart] [datetime] NOT NULL,
	[liveEnd] [datetime] NULL,
	[videoSeqNo] [int] NOT NULL,
	[streamName] [varchar](50) NOT NULL,
	[liveStatus] [varchar](50) NOT NULL,
	[liveCoverPath] [varchar](500) NOT NULL,
	[liveCoverName] [varchar](500) NOT NULL,
	[liveStreamPath] [varchar](500) NULL,
	[liveStreamView] [int] NULL,
 CONSTRAINT [PK_LiveStream] PRIMARY KEY CLUSTERED 
(
	[liveStreamSeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveStreamHistory]    Script Date: 2018/5/17 下午 06:10:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveStreamHistory](
	[account] [varchar](50) NOT NULL,
	[LiveStreamHistorySeqNo] [int] IDENTITY(1,1) NOT NULL,
	[LiveStreamSeqNo] [int] NOT NULL,
	[HistoryTime] [datetime] NOT NULL,
	[LiveStreamStatus] [varchar](1) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LiveStreamReport]    Script Date: 2018/5/17 下午 06:10:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LiveStreamReport](
	[liveStreamReportSeqNo] [int] IDENTITY(1,1) NOT NULL,
	[accountFrom] [varchar](50) NOT NULL,
	[accountTo] [varchar](50) NOT NULL,
	[reportTitle] [varchar](50) NOT NULL,
	[reportContent] [varchar](max) NOT NULL,
	[reportTime] [datetime] NOT NULL,
	[reportStatus] [varchar](50) NOT NULL,
	[replyTime] [datetime] NULL,
	[replyContent] [varchar](max) NULL,
	[reportType] [varchar](50) NOT NULL,
 CONSTRAINT [PK_LiveStreamReport] PRIMARY KEY CLUSTERED 
(
	[liveStreamReportSeqNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Auction] ON 

INSERT [dbo].[Auction] ([account], [auctionSeqNo], [aucBegin], [aucEnd], [liveStreamSeqNo], [productSeqNo], [proPrice], [auctionStatus]) VALUES (N'bob', 11, CAST(N'2018-05-08T18:00:00.000' AS DateTime), CAST(N'2018-05-08T18:00:00.000' AS DateTime), 1028, 5, 54354, 1)
INSERT [dbo].[Auction] ([account], [auctionSeqNo], [aucBegin], [aucEnd], [liveStreamSeqNo], [productSeqNo], [proPrice], [auctionStatus]) VALUES (N'bob', 12, CAST(N'2018-05-16T18:00:00.000' AS DateTime), CAST(N'2018-05-16T18:00:00.000' AS DateTime), 1028, 5, 5555, 1)
INSERT [dbo].[Auction] ([account], [auctionSeqNo], [aucBegin], [aucEnd], [liveStreamSeqNo], [productSeqNo], [proPrice], [auctionStatus]) VALUES (N'micky', 13, CAST(N'2018-05-06T18:00:00.000' AS DateTime), CAST(N'2018-05-06T18:00:00.000' AS DateTime), 2, 4, 1111, 1)
SET IDENTITY_INSERT [dbo].[Auction] OFF
SET IDENTITY_INSERT [dbo].[AuctionEnd] ON 

INSERT [dbo].[AuctionEnd] ([auctionEndSeqNo], [account], [proPrice], [proTime], [productSeqNo]) VALUES (1, N'micky', N'55', CAST(N'2018-05-16T19:11:59.957' AS DateTime), 81)
INSERT [dbo].[AuctionEnd] ([auctionEndSeqNo], [account], [proPrice], [proTime], [productSeqNo]) VALUES (2, N'micky', N'111', CAST(N'2018-05-17T09:26:35.053' AS DateTime), 82)
INSERT [dbo].[AuctionEnd] ([auctionEndSeqNo], [account], [proPrice], [proTime], [productSeqNo]) VALUES (3, N'micky', N'111', CAST(N'2018-05-17T15:19:47.853' AS DateTime), 83)
SET IDENTITY_INSERT [dbo].[AuctionEnd] OFF
SET IDENTITY_INSERT [dbo].[Bid] ON 

INSERT [dbo].[Bid] ([auctionSeqNo], [bidSeqNo], [bidTime], [bidPrice], [account], [productSeqNo]) VALUES (52, 218, CAST(N'2018-05-16T14:31:20.067' AS DateTime), N'1', N'micky', 65)
INSERT [dbo].[Bid] ([auctionSeqNo], [bidSeqNo], [bidTime], [bidPrice], [account], [productSeqNo]) VALUES (52, 219, CAST(N'2018-05-16T14:44:11.683' AS DateTime), N'1', N'micky', 65)
INSERT [dbo].[Bid] ([auctionSeqNo], [bidSeqNo], [bidTime], [bidPrice], [account], [productSeqNo]) VALUES (53, 220, CAST(N'2018-05-16T15:54:31.970' AS DateTime), N'1', N'micky', 66)
SET IDENTITY_INSERT [dbo].[Bid] OFF
SET IDENTITY_INSERT [dbo].[LiveChat] ON 

INSERT [dbo].[LiveChat] ([liveChatSesNo], [liveChatArticle], [account], [liveChatDate], [liveChatStatus], [liveChatType], [liveStreamSeqNo]) VALUES (15, N'dsadas', N'micky', CAST(N'2018-05-14T12:20:50.697' AS DateTime), N'1', N'1         ', 1050)
INSERT [dbo].[LiveChat] ([liveChatSesNo], [liveChatArticle], [account], [liveChatDate], [liveChatStatus], [liveChatType], [liveStreamSeqNo]) VALUES (16, N' asdas', N'micky', CAST(N'2018-05-14T12:20:53.043' AS DateTime), N'1', N'1         ', 1050)
INSERT [dbo].[LiveChat] ([liveChatSesNo], [liveChatArticle], [account], [liveChatDate], [liveChatStatus], [liveChatType], [liveStreamSeqNo]) VALUES (17, N'sadas', N'micky', CAST(N'2018-05-14T12:24:52.107' AS DateTime), N'1', N'1         ', 1050)
GO
SET IDENTITY_INSERT [dbo].[LiveChat] OFF
SET IDENTITY_INSERT [dbo].[LiveStream] ON 

INSERT [dbo].[LiveStream] ([account], [liveStreamSeqNo], [liveStart], [liveEnd], [videoSeqNo], [streamName], [liveStatus], [liveCoverPath], [liveCoverName], [liveStreamPath], [liveStreamView]) VALUES (N'micky', 2, CAST(N'1994-06-30T00:00:00.000' AS DateTime), CAST(N'2018-05-10T12:10:44.407' AS DateTime), 1, N'tttest', N'0', N'C:\resources\images\members\bob\LiveCoverPath\bob.jpg', N'01.jpg', N'42jwUc7LNR0', 114)
INSERT [dbo].[LiveStream] ([account], [liveStreamSeqNo], [liveStart], [liveEnd], [videoSeqNo], [streamName], [liveStatus], [liveCoverPath], [liveCoverName], [liveStreamPath], [liveStreamView]) VALUES (N'bob', 1028, CAST(N'2018-05-09T14:22:47.427' AS DateTime), CAST(N'2018-05-10T12:18:41.617' AS DateTime), 1, N'asdasdasdas', N'0', N'C:/resources/images/LiveCoverPath/bob/1028/1028.jpg', N'01.jpg', N'06DNNI2R8xE', 3)
INSERT [dbo].[LiveStream] ([account], [liveStreamSeqNo], [liveStart], [liveEnd], [videoSeqNo], [streamName], [liveStatus], [liveCoverPath], [liveCoverName], [liveStreamPath], [liveStreamView]) VALUES (N'micky', 1032, CAST(N'2018-05-09T15:53:37.957' AS DateTime), CAST(N'2018-05-10T12:11:33.183' AS DateTime), 1, N'asdasdasTTT', N'0', N'C:/resources/images/LiveCoverPath/micky/1032/1032.jpg', N'pokimane-4.jpg', N'UPXSB2gMsfI', 20)
SET IDENTITY_INSERT [dbo].[LiveStream] OFF
SET IDENTITY_INSERT [dbo].[LiveStreamHistory] ON 

INSERT [dbo].[LiveStreamHistory] ([account], [LiveStreamHistorySeqNo], [LiveStreamSeqNo], [HistoryTime], [LiveStreamStatus]) VALUES (N'micky', 1, 2, CAST(N'2018-05-09T15:33:59.403' AS DateTime), N'1')
INSERT [dbo].[LiveStreamHistory] ([account], [LiveStreamHistorySeqNo], [LiveStreamSeqNo], [HistoryTime], [LiveStreamStatus]) VALUES (N'micky', 2, 2, CAST(N'2018-05-09T15:34:18.997' AS DateTime), N'1')
INSERT [dbo].[LiveStreamHistory] ([account], [LiveStreamHistorySeqNo], [LiveStreamSeqNo], [HistoryTime], [LiveStreamStatus]) VALUES (N'micky', 3, 2, CAST(N'2018-05-09T15:34:23.377' AS DateTime), N'1')
GO
SET IDENTITY_INSERT [dbo].[LiveStreamHistory] OFF
SET IDENTITY_INSERT [dbo].[LiveStreamReport] ON 

INSERT [dbo].[LiveStreamReport] ([liveStreamReportSeqNo], [accountFrom], [accountTo], [reportTitle], [reportContent], [reportTime], [reportStatus], [replyTime], [replyContent], [reportType]) VALUES (3, N'micky', N'bob', N'安安安安泰', N'安安安安安安安泰', CAST(N'2018-05-17T13:04:14.720' AS DateTime), N'已處理', CAST(N'2018-05-17T14:53:24.033' AS DateTime), N'快傳進去', N'1')
SET IDENTITY_INSERT [dbo].[LiveStreamReport] OFF
