USE [EEITDB]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2018/5/23 上午 11:57:39 ******/
DROP TABLE [dbo].[Member]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 2018/5/23 上午 11:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[memberSeqNo] [int] IDENTITY(10000,1) NOT NULL,
	[account] [varchar](50) NOT NULL,
	[password] [varchar](max) NULL,
	[nickname] [varchar](50) NULL,
	[firstname] [varchar](50) NULL,
	[lastname] [varchar](50) NULL,
	[gender] [varchar](10) NULL,
	[email] [varchar](max) NOT NULL,
	[address] [varchar](50) NULL,
	[birthday] [datetime] NULL,
	[photoPath] [varchar](max) NULL,
	[photoName] [varchar](500) NULL,
	[phone] [varchar](15) NULL,
	[registerdate] [datetime] NOT NULL,
	[lastlogin] [datetime] NOT NULL,
	[subscription] [bigint] NOT NULL,
	[ban] [bit] NOT NULL,
 CONSTRAINT [PK__Member__EA162E107C9E0CE0] PRIMARY KEY CLUSTERED 
(
	[account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Member] ON 

INSERT [dbo].[Member] ([memberSeqNo], [account], [password], [nickname], [firstname], [lastname], [gender], [email], [address], [birthday], [photoPath], [photoName], [phone], [registerdate], [lastlogin], [subscription], [ban]) VALUES (10004, N'AXB', N'56j50da5ek2', N'DD', N'ASAA', N'CC', N'男性', N'axbxsd10@gmail.com', N'1321231', CAST(N'2019-12-30T00:00:00.000' AS DateTime), N'C:/resources/images/members/AXB/photo/AXB.jpg', N'1001.jpg', N'121321', CAST(N'2018-05-09T15:51:45.143' AS DateTime), CAST(N'2018-05-09T15:51:45.143' AS DateTime), 0, 0)
INSERT [dbo].[Member] ([memberSeqNo], [account], [password], [nickname], [firstname], [lastname], [gender], [email], [address], [birthday], [photoPath], [photoName], [phone], [registerdate], [lastlogin], [subscription], [ban]) VALUES (10021, N'axbxsd10', N'029f269f3f06af1e93dac67063977f713a77f19e', NULL, NULL, NULL, NULL, N'axbxsd10@gmail.com', NULL, NULL, N'C:\resources\images\members\axbxsd10\photo\\axbxsd10.png', NULL, NULL, CAST(N'2018-05-23T11:55:55.757' AS DateTime), CAST(N'2018-05-23T11:56:05.323' AS DateTime), 0, 0)
INSERT [dbo].[Member] ([memberSeqNo], [account], [password], [nickname], [firstname], [lastname], [gender], [email], [address], [birthday], [photoPath], [photoName], [phone], [registerdate], [lastlogin], [subscription], [ban]) VALUES (10000, N'bob', N'123', N'BOB', N'包柏', N'陳', N'男性', N'2222@gmail.com', N'台北市', CAST(N'1968-06-04T00:00:00.000' AS DateTime), N'C:/resources/images/members/bob/photo/bob.PNG', N'h2.PNG', N'0937123456', CAST(N'2018-05-06T14:34:24.653' AS DateTime), CAST(N'2018-05-23T11:55:56.320' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Member] OFF
