@charset "UTF-8";

.searchButtonli {
	margin-right: 150px;
	width: 60px;
	float: right;
	/* 		display:inline-block */
}

.searchInput {
	
}

.searchInputOutside {
	display: inline-block;
}

.searchButton {
	width: 36px;
	height: 36px;
}
.notification{
	border:none;
	cursor: pointer;
	background-color: #4a0080;
}

.notificationNone{
	color : #8f61b0;
}

.notificationAlert{
	color : #F50000;
}

.notificationNone:hover{
	color : #cab5da;
}
.loginCheck{
	display: inline-block;
}
