@charset "UTF-8";

.searchButtonli {
	margin-right: 150px;
	width: 60px;
	float: right;
}

.searchInput {
	
}

.searchInputOutside {
	display: inline-block;
}

.searchButton {
	width: 36px;
	height: 36px;
}
.notification{
	border:none;
	cursor: pointer;
	background-color: #4a0080;
}

.notificationNone{
	color : #8f61b0;
}

.notificationAlert{
	color : #F50000;
}

.notificationNone:hover{
	color : #cab5da;
}
.loginCheck{
	display: inline-block;
}
.searchBlock{
	margin-left: 200px;
/* 	border:solid 1px red; */
}

.searchTitleBlock{
	background-color: #690084;
	border-bottom: solid 1px gray;
	border-top: solid 1px gray;
	color:white;
}
.searchTitle:hover{
	background-color: #4b367c !important;;
}
.diplaySearchResult{
	overflow: auto;
}

.moreSearchButton{
	float: right;
	overflow: auto;
}