@charset "UTF-8";

.videoDescription {
	color: black;
	height: 25px;
	overflow: hidden;
}

.card-title{
	height: 34px;
	overflow: hidden;
}

.videoTitle {
	color: black;
	text-decoration: none;
}

.videoTitle:hover {
	color: black;
	text-decoration: none;
}