.pointer {
	cursor: pointer;
}
.memberReportSeqNo{
	cursor: pointer;
}
.antai87{
/* 	height: 400px;  */
/* 	min-width: 310px;  */
/* 	max-width: 800px; */
/* 	margin: 0 auto; */
}

.choosed{
	
	border:5px #7700FF solid;
	
}