@charset "UTF-8";



body > div.container > div > div > div > div > div > button{
	float : right;
}


.indexTitle{
	color: black;
}

.indexTitle:hover{
	color: black;
	text-decoration: none;
}

.videoBlockInner{
	border: none;
}

.suptitle{
 color:  #bdbdbd;
 font-size: 16px;
}